<div ng-include src="'views/header.html'"></div>

<section>
    <button ng-click="getJavascriptTutorials()"> Javascript</button>
    <button ng-click='getAgileTutorials()'> Agile  </button>
    <button ng-click='addATutorial()'> Add a Tutorial  </button>
</section>

<div>
    <h3> {{tutorials.header}}</h3>
    <ul>
        <li ng-repeat="tutorial in tutorials.list">
            <label> Name: </label>  <span> {{tutorial.name}} </span>
            <label> URL:  </label>  <span> {{tutorial.url}} </span>
        </li>
    </ul>
</div>

<form ng-show="showTutorialForm">
    Name: <input type="text" ng-model="tutorialToAdd.name"/>
    URL:  <input type="text" ng-model="tutorialToAdd.url">
    <button ng-click="submitForm(tutorialToAdd)"> Submit </button>
    <button ng-click="resetForm()"> Reset</button>
</form>

<div ng-include src="'views/footer.html'"></div>
